<div class="container-fluid">
  <div class="row justify-content-center text-center">
    <h1>Clase 1 - Angular</h1>
  </div>
  <div class="row justify-content-center">
    <div *ngFor="let item of palabras2()" class="col-12 col-md-6 col-lg-4 mt-3">
      <div class="card p-2">
        <h4>{{item}}</h4>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <button type="button" class="btn btn-success" (click)="agregarPalabra('Educación')">Agregar</button>
    </div>
  </div>
</div>
